<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>修改密码</h1>
<form action="userController/getpass" method="post">
    <table>
        <tr>
            <td>输入账号</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="找回密码">
            </th>
        </tr>
    </table>
</form>
</body>
</html>